<div>
<app-top-bar></app-top-bar>
<app-category></app-category>
<!-- <div *ngFor="let categorie of categories" class="">
  <div>
    <h2>
      <a [title]="categorie.title" id="name">
        {{ categorie.title }}
      </a>
    </h2> -->
</div>

<!-- 

<div *ngFor="let product of products" id="product">
  <div id="left">
    < style="float: left; width: 50%;"
    <h2>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
        id="name"
      >
        {{ product.name }}
      </a>
    </h2>
    <br />

    <img id="imageMain" src="{{ product.imageUrl }}" alt="photo of item" />
  </div>

  <div id="right">
    style="float: right; width: 50%;"
    <p *ngIf="product.description">описание: {{ product.description }}</p>

    <button type="button" (click)="shareTelegram(product.name, product.buyUrl)">
      Share
    </button>

    <a href="{{ product.buyUrl }}" target="_blank"
      ><button type="button" (click)="buy()">Buy</button></a
    >
  </div>
</div>



-->