*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.conteiner{
    width: 100%;
    min-height: 100vh; /* full height of the screen */
    background-color: #C197D2;
    padding: 10px;
}

.todoBox{
    width: 100%;
    max-width: 700px;
    background-color: #ebe6e9;
    margin: 200px auto 20px;
    padding: 30px 30px 60px;
    border-radius: 40px;

}
.todoBox h2{
    color: #211522;
}

.cin{
    display: flex;
    align-items: center;
    justify-content: space-between; /* text pen add tyn arasynda space boly yshin*/
    background:  #bc6bdc;
    border-radius: 10px;
    /* padding-left: 20px; */
    margin-top: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none; /*it does not show the outline while you are typing something*/
    background: transparent;
    padding: 10px;
    color: #211522;/*this is the color of the inputing text*/
    font-weight: bold;
    font-size: 17px;
}

::placeholder{
    color: #652f7a;
}

button{
    border: none;
    outline: none;
    padding: 15px 20px 15px;
    background: #652f7a;
    color: #ebe6e9;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;

}

ul li{
    list-style: none;
    font-size: 15px;
    padding: 16px 7px 12px 45px;
    /* top right bottom left */
    color: #652f7a;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    background-image: url(https://i.pngimg.me/thumb/f/720/m2i8A0H7m2Z5H7i8.jpg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
}

ul li.checked{
    color: #bc6bdc;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(https://banner2.cleanpng.com/20180420/acw/kisspng-checkbox-computer-icons-clip-art-lines-box-5ad9942d03a5e8.791121301524208685015.jpg);

}

ul li span{
    position: absolute;
    right: 0px;
    top: 13px;
    width: 23px;
    height: 23px;
    /* height: 100px; */
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
}

ul li span:hover{
    background: #bc6bdc;
}




/* maybe gonna add */
/* Darker background-color on hover */
ul li:hover {
    border-style:solid;
    border-color: #C197D2;
    border-radius: 5px;
}