.or-line{
    /* центрга тартады */
    text-align: center;
    /* асып кетсе коринбеу ушин */
    overflow: hidden;
    /* что б пробел коринбеу ушин */
    white-space: nowrap;
    padding: 5px 0;
}

.line {
    /* инлайн блок это блоки но биринен кейын биреуи журеди */
    display: inline-block;
    width: 37%;
    /* по сути мидл это дефолт плюс паренттын жартысыб дефоттын ози дурыс турады а мидл типа тусиреди его, тут текст тусип кетеди ау а просто минус нормга туседи */
    vertical-align: middle;
}

.or {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    color: #737373;
    font-size: 14px;
}
